/* Variables */
:root {
    --taille-nav: 80px;
    --marges: 20px;
    --separ-section: var(--marges) * 4;
    --bleu-fonce: #0F0E48;
    --bleu-medium: #2A46E6;
    --blanc: #F7F8FC;
    --ombre-externe: 0 0 10px #00000025;
    --ombre-interne: 0 0 10px #00000025 inset;
    --police-principale: "Kufam", sans-serif;
    /* TO DO : utilise l'unité rem plutôt que em */
    --titre-h1: 2em;
    --titre-h2: 1.6em;
    --titre-h3: 1.3em;
    --texte: 1.1em;
}
/* Reinitialisation */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Boites */
section {
    padding: var(--separ-section) 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
/* Style Global */

body {
    background-color: var(--blanc);
    font-family: var(--police-principale);
    font-size: var(--texte);
    color: var(--bleu-fonce);
}
h1,
h2,
h3 {
    font-weight: 700;
    Line-height: 1.2;
}

h1 {
    font-size: var(--titre-h1);
    margin-bottom: var(--marges);
}

h2 {
    font-size: var(--titre-h2);
    margin-bottom: var(--marges);
}

/* boutons, liens */
a {
    text-decoration: none;
    color: var(--bleu-medium);
}
.cta {
    padding: calc(var(--marges) / 2) var(--marges);
    box-shadow: var(--ombre-externe);
    transition: .4s ease;
}

.cta:hover {
    box-shadow: var(--ombre-interne);
}

.cta-principal {
    background-color: var(--bleu-medium);
    color: var(--blanc);
}

.cta-second {
    background-color: var(--blanc);
}

/* Cards */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--marges);
}
.card {
    flex: 1 1 320px;
    box-shadow: var(--ombre-externe);
    padding: var(--marges);
    transition: .4s ease;
}

/* TO DO : mettre des commentaires pour séparer le style des différentes parties. 
En mettant, header au dessus de toutes les classes spécifiques au header etc. */

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: var(--taille-nav);
    padding: 0 var(--marges);
    box-shadow: var(--ombre-externe);
}

header * {
    /* TO DO : c'est utile ça ? */
    height: 100%;
}

header img {
    height: 40px;
}

header nav ul {
    display: flex;
    justify-content: end;
    gap: var(--marges);
    list-style-type: none;
}

header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero section */
#hero {
    height: calc(100vh - var(--taille-nav));
}

/* TO DO : c'est pour tous les h3 du site ? */
#problematique h3 {
    font-size: 3em;
}

