/* Variables */
:root {
    --taille-nav: 100px;
    --radius: 20px;
    --marges: 20px;
    --separ-section: 80px;
    --bleu-fonce: #0F0E48;
    --bleu-medium: #2A46E6;
    --blanc: #F7F8FC;
    --ombre-externe: 0 0 10px #00000025;
    --ombre-interne: 0 0 10px #00000025 inset;
    --police-principale: "Kufam", sans-serif;
    /* TO DO : utilise l'unité rem plutôt que em */
    --titre-h1: 2rem;
    --titre-h2: 1.6rem;
    --titre-h3: 1.2rem;
    --texte: 18px;
}
/* Reinitialisation */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Boites */
section {
    padding: 80px 24px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
/* Style Global */

body {
    background-color: var(--blanc);
    font-family: var(--police-principale);
    font-size: var(--texte);
    color: var(--bleu-fonce);
}
h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: var(--titre-h1);
    margin-bottom: var(--marges);
}

h2 {
    font-size: var(--titre-h2);
    margin-bottom: var(--marges);
}

/* boutons, liens */
a {
    text-decoration: none;
    color: var(--bleu-medium);
}

.cta {
    position: relative;
    display: inline-block;
    padding: var(--marges);
    box-shadow: var(--ombre-externe);
    border-radius: var(--radius);
    transition: ease .4s;
}

.cta:hover {
    box-shadow: none;
    transform: translateY(2px);
}

.cta-principal {
    background-color: var(--bleu-medium);
    color: var(--blanc);
}

.cta-second {
    background-color: var(--blanc);
}

/* Cards */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--marges);
}
.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 320px;
    /* box-shadow: var(--ombre-externe); */
    padding: var(--marges);
    transition: .4s ease;
}

/* TO DO : mettre des commentaires pour séparer le style des différentes parties. 
En mettant, header au dessus de toutes les classes spécifiques au header etc. */

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 780px) {
    header {
        position: sticky;
        top: 0;
    }

    #hero .container div:first-of-type {
    width: 50vw;
    }
}

/* header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    width: 100vw;
    max-width: 100%;
    padding: 0 var(--marges);
    background-color: var(--blanc);
    box-shadow: var(--ombre-externe);
}

header * {
    height: var(--taille-nav);
}

header nav {
    height: 100%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/*header nav ul li {
    height: 100%;
}

header nav ul li:not(:last-child) a {
    height: 100%;
}*/

header nav ul li:last-child {
    display: flex;
    align-items: center;
}

header nav ul li:last-child a {
    display: flex;
    align-items: center;
    height: initial;
}

header img {
    height: 40px;
}

header nav ul {
    display: flex;
    justify-content: end;
    gap: var(--marges);
    list-style-type: none;
}

header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero section */
#hero {
    display: flex;
    align-items: center;
    height: calc(100vh - var(--taille-nav));
    background: url(assets/vladimirsrajberInterieurVehicule.jpg) top / cover no-repeat;
    color: var(--blanc);
}

#hero .container div:last-of-type {
    margin-top: var(--marges);
    text-align: center;
}


/*solution*/
.card img{
   height:200px ; 
   width: 150px;
}

/*problematique*/

#problematique div {
    justify-content: center;
    gap: var(--marges);
    margin-top: calc(var(--marges) * 2);
}

/*#problematique article {
    width: calc(33% - var(--marges));
    min-width: 250px;
    text-align: center;
}*/

#problematique article p:first-of-type {
    font-size: 3em;
    font-weight: 700;
    color: var(--bleu-medium);
}

